<!--
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
body{background-color:#00f;font:100% Helvetica,sans-serif;color:#333}
</style>
    <title></title>
  </head>
  <body>
    There's no place like 127.0.0.1!
    <script>
const app=3,apple=5;for(var i=0;i<5;i++)console.log(5);
</script>
  </body>
</html>
