<!--
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
body{background-color:#0f0;font:100% Helvetica,sans-serif;color:#333}
</style>
    <title></title>
  </head>
  <body>
    Updated
    <script>
"serviceWorker"in navigator&&navigator.serviceWorker.register("serviceworker.js");
</script>
  </body>
</html>
